/*Estilos del curriculum*/



header{
    
    height: 210px;
    background: linear-gradient(to right, rgb(18, 0, 25), rgb(226, 177, 255));
    color: white;

    display: flex;
    align-items: flex-end;
  }


  #fotoPerfil{

    width: 200px; 
    height: 200px;
    margin: 5px;
    display: block;
  }

  #imgFotoPerfil{
    width: 190px; 
    height: 190px;
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(46, 4, 80);
    
  }

.tituloPrincipal{   
    position: relative; 
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    text-align: left;
    padding: 20px;
    width: 100%;
}

.nombrePrincipal{
    font-size:30px ;
}

body{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 18%;
    margin-right: 18%;
    border-style: solid;
    border-width: thin;
    border-color: lightgray;
    box-shadow:
  3px 3px rgb(142, 138, 138),
  -1em 0 0.4em white;

  display: block;
}

.profesionPrincipal{

}

section{
    margin: 5px 5px;
    padding:5px 5px;
    border-style: solid;
    border-color: rgb(77, 12, 103);
    border-width: thin;
    border-radius: 0cqb;
}

h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, rgb(64, 61, 61), white);
    color: white
}

main{
    display: block;    
}

footer{
    padding: 5px;
    height: 110px;
    background: linear-gradient(to right, rgb(45, 1, 62), rgb(108, 103, 103));
    color: white;
}